<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jojo.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.jojo.domain.Order">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="customerId" column="customer_id" jdbcType="INTEGER"/>
            <result property="merchantId" column="merchant_id" jdbcType="INTEGER"/>
            <result property="orderTime" column="order_time" jdbcType="TIMESTAMP"/>
            <result property="paymentTime" column="payment_time" jdbcType="TIMESTAMP"/>
            <result property="totalPrice" column="total_price" jdbcType="DECIMAL"/>
            <result property="orderStatus" column="order_status" jdbcType="INTEGER"/>
            <result property="paymentMethod" column="payment_method" jdbcType="INTEGER"/>
            <result property="paymentStatus" column="payment_status" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,customer_id,merchant_id,
        order_time,payment_time,total_price,
        order_status,payment_method,payment_status,
        remark
    </sql>
</mapper>
